<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">
       <bean id="address" class="com.kuang.pojo.Address">
              <property name="address" value="长沙"/>
       </bean>
       <bean id="student" class="com.kuang.pojo.Student">
              <property name="name" value="zyb"/>
              <property name="address" ref="address"/>
              <property name="books">
                     <array>
                            <value>hlm</value>
                            <value>xyj</value>
                            <value>sgyy</value>
                     </array>
              </property>
              <property name="hobbies">
                     <list>
                            <value>tg</value>
                            <value>cg</value>
                     </list>
              </property>
        </bean>
</beans>